body {
    background: #F9F7F2;
}

.container {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (min-width: 768px) {
    .container {
        width: 766px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

.city {
    display: flex;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 20px;
}

.city__box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.city__wrap-img {
    width: 440px;
    height: 440px;
    overflow: hidden;
}

.city__wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.city__wrap-descr {
    width: 50%;
    background-color: white;
    padding: 0 25px;
    box-sizing: border-box;
}

.city__title {
    width: 100%;
    margin-top: 104px;
    font-family: KievitPro;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #000000;
}

.city__descr {
    width: 100%;
    text-align: left;
    font-family: KievitPro;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}

.city__link {
    font-family: KievitPro;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid #FF4641;
}

.review {
    display: flex;
    width: 100%;
}

.review__box {
    background-color: white;
    padding: 35px 31px;
    box-sizing: border-box;
}

.review__title {
    width: 100%;
    margin-top: 0;
    font-family: KievitPro;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #000000;
}

.review__slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review__slide {
    width: 45%;
    background: #F9F7F2;
}

.review__slide-top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 26px;
}

.review__slide-top--img {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.review__slide-top--img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.review__slide-top--title {
    width: 75%;
    margin-top: 12px;
    font-family: KievitPro;
    font-size: 15px;
    line-height: 17px;
    color: #000000;;
}

.chat-wrap {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.chat .messages{
    height: 300px;
    border: 1px solid #d4d4d4;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.chat .messages .user{
    color: #B22222;
}

.chat .message{
    width: 70%;
}

.chat .panel{
    margin-top: 8px;
}

#message_text{
    width: 60%;
    display: inline-block;
    margin-left: 8px;
}

@font-face {
    font-family: 'KievitPro';
    src: url('../fonts/KevitPro/KievitPro-Regular.eot') format('embedded-opentype'),
    url('../fonts/KevitPro/KievitPro-Regular.woff') format('woff'),
    url('../fonts/KevitPro/KievitPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}